gtk-color-scheme = "background: #020102"
gtk-color-scheme = "foreground: #FCF0DC"

gtk-color-scheme = "color0: #020102"
gtk-color-scheme = "color1: #A15E56"
gtk-color-scheme = "color2: #EA5D65"
gtk-color-scheme = "color3: #CA8E72"
gtk-color-scheme = "color4: #AA6290"
gtk-color-scheme = "color5: #DEA993"
gtk-color-scheme = "color6: #E1BFAA"
gtk-color-scheme = "color7: #FCF0DC"
gtk-color-scheme = "color8: #676667"
gtk-color-scheme = "color9: #A15E56"
gtk-color-scheme = "color10: #EA5D65"
gtk-color-scheme = "color11: #CA8E72"
gtk-color-scheme = "color12: #AA6290"
gtk-color-scheme = "color13: #DEA993"
gtk-color-scheme = "color14: #E1BFAA"
gtk-color-scheme = "color15: #FCF0DC"
